fastapi
uvicorn[standard]

python-jose[cryptography]
passlib[bcrypt]
bcrypt

python-multipart
email-validator

pydantic
pydantic-settings

mysql-connector-python

python-dotenv

tensorflow
numpy
pandas
scikit-learn
nltk
joblib

pytest
httpx

black
isort
flake8